.card-login {
  margin-top : 250px;
}

.container-login {
  margin-right: 190px;
}

body {
  background-color: #E4E6E5;
  background-image: url('../../images/plant.png');
}

.login {
	background-color: #044F1E; 
	opacity: 0.8;
}